<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    hello world im using ejs
    <div>
      <img src="/img/jinx.png" alt="JINX" />
      <!-- vì đã khai báo bên file server là sử dụng file trong fouder public rồi nên là không cần tiền tố tên file đó vào nữa thằng express này sẽ tự hiểu và tìm file thôi -->
    </div>
  </body>
</html>
